body {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#485563, #29323c);
  display: flex;
  align-items: center;
  justify-content: center;
}

::-webkit-scrollbar {
  display: none;
}
.container {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 14px;
}
.input-container > * {
  margin: 10px;
}
.input-container > input {
  flex: 1;
  padding: 3px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
}
.input-container > input:focus {
  border: 1px solid black;
}
#download-button {
  background-color: #4cff59;
  border: none;
  color: black;
  padding: 3px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
}
#download-button:hover {
  background-color: #4caf50;
  cursor: pointer;
}
#download-button.disabled {
  background-color: #4caf50;
  opacity: 0.5;
  cursor: default;
}
#progress-container {
  opacity: 0;
}
#progress-container > :first-child {
  display: flex;
  justify-content: space-between;
  padding-right: 6px;
  padding-left: 6px;
}

#progress-bar {
  height: 100%;
  width: 100%;
  background-color: #a4a4a4;
  border-radius: 16px;
  overflow: hidden;
  height: 20px;
}
#progress-bar > div {
  height: 100%;
  width: 0%;
  background-color: #4cff59;
  transition: width 200ms;
}
